<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontControleur</servlet-name>
        <servlet-class>controleurs.FrontControleur</servlet-class>
        <init-param>
            
          <init-param>
            <param-name>cuisinier-changerStatut-commande</param-name>
            <param-value>controleurs.cuisinier.ChangerStatutCommandeCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>cuisinier-changerStatut-Lignecommande</param-name>
            <param-value>controleurs.cuisinier.ChangerStatutLigneCommandeCtrl</param-value>
        </init-param>
        <init-param> 
            
            
            <param-name>panier-affichage</param-name>
            <param-value>controleurs.commande.PanierAffichageCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>panier-operations</param-name>
            <param-value>controleurs.commande.PanierOperationsCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>valider-commande</param-name>
            <param-value>controleurs.commande.ValiderCommandeCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>connexion</param-name>
            <param-value>controleurs.ConnexionCtrl</param-value>
        </init-param>
        <init-param>            
            <param-name>serveur-interface-affichage</param-name>
            <param-value>controleurs.serveur.ServeurInterfaceCtrl</param-value>
        </init-param>
        <init-param>            
            <param-name>caissier-interface-affichage</param-name>
            <param-value>controleurs.caissier.CaissierInterfaceCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>cuisinier-interface-affichage</param-name>
            <param-value>controleurs.cuisinier.CuisinierAffichageCommandeCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>accueil</param-name>
            <param-value>controleurs.client.AccueilAffichageCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>carte</param-name>
            <param-value>controleurs.client.CarteAffichageCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>blog</param-name>
            <param-value>controleurs.client.BlogAffichageCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>equipe</param-name>
            <param-value>controleurs.management.EquipeAffichageCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>contact</param-name>
            <param-value>controleurs.management.ContactAffichageCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>catalogue</param-name>
            <param-value>controleurs.client.CarteMainCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>donnees-create</param-name>
            <param-value>controleurs.DonneesCreateCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>salle</param-name>
            <param-value>controleurs.client.EmplacementAffichageCtrl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControleur</servlet-name>
        <url-pattern>/FrontControleur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>GestionCatalogue</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.metiers.GestionCatalogueLocal</local>
        <ejb-link>restaurant-ejb.jar#GestionCatalogue</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CreationData</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.data.CreationDataLocal</local>
        <ejb-link>restaurant-ejb.jar#CreationData</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionPersonnel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.metiers.GestionPersonnelLocal</local>
        <ejb-link>restaurant-ejb.jar#GestionPersonnel</ejb-link>
    </ejb-local-ref>
    <!--    <ejb-local-ref>
        <ejb-ref-name>GestionProduit</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.beans.GestionProduitLocal</local>
        <ejb-link>restaurant-ejb.jar#GestionProduit</ejb-link>
    </ejb-local-ref>-->
    <ejb-local-ref>
        <ejb-ref-name>GestionEmplacement</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.metiers.GestionEmplacementLocal</local>
        <ejb-link>restaurant-ejb.jar#GestionEmplacement</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionPanier</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.metiers.GestionPanierLocal</local>
        <ejb-link>restaurant-ejb.jar#GestionPanier</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCommande</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.metiers.GestionCommandeLocal</local>
        <ejb-link>restaurant-ejb.jar#GestionCommande</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCuisine</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.gp2.metiers.GestionCuisineLocal</local>
        <ejb-link>restaurant-ejb.jar#GestionCuisine</ejb-link>
    </ejb-local-ref>
</web-app>
